* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-gray: hsla(0, 0%, 95%, 0.319);
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;

  .wordle-game__container {
    display: flex;
    background-color: black;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
}

.wordle-game__header {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
}
.wordle-game__title {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.wordle-game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-board__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 10px;
}

.square {
  border: 2px solid var(--light-gray);
  min-width: 60px;
  min-height: 60px;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
  padding-top: 4px;
}

.keyboard__container {
  height: 200px;
}

.keyboard__row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard__row button {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2rem;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: var(--light-gray);
  color: white;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

button.keyboard__wide-btn {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}

.animate__flip {
  animation: flip 2000ms;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
